:root {
    --font-color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';

    color: var(--font-color);
    background-color: rgb(21, 21, 35);
}

/* HEADER */

header {
    display: flex;
    align-items: flex-end;
    margin: 17px 0px 10px 30px;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

h1 {
    margin: 0;
    font-size: 53px;
}

/* MAIN */

main {
    display: flex;
    flex: 1;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 100vh;
    /* border: 1px solid white; */
    position: relative;
    border: 1px solid;
}

.picture {
    height: 100%;
    /* border: 1px solid; */
}

.right-side {
    border: 1px solid;
    width: 350px;
    height: 450px;
    position: relative;
    left: 50px;
    top: 50px;
}

form > div {
    display: flex;
    flex-direction: column;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    padding-bottom: 22px;
    margin-top: 40px;
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 0px) {}