body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, 
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

    color: white;
    background-color: rgb(21, 21, 35);
}

/* HEADER */

header {
    display: flex;
    align-items: flex-end;
    margin: 17px 0px 10px 30px;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

h1 {
    margin: 0;
    font-size: 53px;
}

/* MAIN */

main {
    display: flex;
    flex: 1;
}

.left-side {
    display: flex;
    width: 800px;
}

.picture {
    position: relative;
    height: max(74vh, 580px);
    left: 15vw;
}

.right-side {
    position: relative;
    height: 500px;
    width: 390px;
    left: 50px;
    top: 50px;
    padding: 16px 45px 0 45px;
    border: 1px solid rgb(127, 112, 245);
    border-radius: 7px;
    box-shadow: inset 4px 4px 23px rgb(32, 20, 68), inset -4px -4px 23px rgb(32, 20, 68);
}

h2 {
    text-align: center;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form > div + div {
    margin-top: 20px;
}

input {
    height: 28px;
    outline: none;
    border: hidden;
    border-bottom: groove;
    border-image-slice: 1;
    border-width: 1px;

    background-color: inherit;
    color: white;
    border-image-source: linear-gradient(90deg, rgba(121,116,166,0.6) 24%, rgba(121,116,166,0.45) 55%, rgba(121,116,166,0.3) 86%);
}

input::placeholder {
    color: rgba(121,116,166,0.4);
}

input:focus {
    border-image-source: linear-gradient(90deg, rgba(127,112,245,0.75) 24%, rgba(127,112,245,0.55) 55%, rgba(127,112,245,0.45) 86%);
    border-width: 1.5px;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    padding-bottom: 22px;
    margin-top: 40px;
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 0px) {}